.custom-menu-bar {
    -fx-padding: 0;
}

.tab-pane {
    -fx-background-color: #c7edcc;
}

.scroll-pane {
    -fx-background-color: #c7edcc;
}

.warning {
    -fx-border-color: #d13e3e;
    -fx-border-width: 0.8pt;
    -fx-border-radius: 2pt;
}

.table-view {
    -fx-font-size: 14pt;
    -fx-alignment: CENTER;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-column {
    -fx-border-color: grey; /* 设置分割线的颜色 */
    -fx-border-width: 0.5pt; /* 设置分割线的宽度 */
    -fx-border-style: solid; /* 设置分割线的样式 */
}

.check-box .box {
    -fx-background-color: #b0e643; /* 设置背景颜色 */
    -fx-shape: "M10,5 A5,5 0 1 1 10,15 A5,5 0 1 1 10,5";
    -fx-border-width: 1pt;
    -fx-border-style: solid;
}

.algorithm-vbox {
    -fx-font-size: 16px;
    -fx-border-style: solid;
}

.next-statement {
    -fx-background-color: #e05959;
}

.production-text-field, .production-button {
    -fx-font-size: 20px;
}